/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
#bodybg {
    background-color: rgb(122, 117, 117);
}
#bodybg2 {
    background-color: rgb(192, 144, 144);
}
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: rgb(122, 117, 117);
    padding: 25px;
  }
.white {
    color: white;
}
.sidenav {
    padding: 15px;
}
